In [1]:
import pandas as pd
import nose.tools
# Write your imports here
import numpy as np

Quiz draft work playground

In [2]:
### Quiz draft work playground

titanicdata = pd.read_csv("https://raw.githubusercontent.com/Geoyi/Cleaning-Titanic-Data/master/titanic_original.csv")
# which columns contain nan
print(titanicdata.isna().any()[lambda x: x])

print("\n\n")

for column in titanicdata:
    if titanicdata[column].isnull().any():
       print('{0} has {1} null values'.format(column, titanicdata[column].isnull().sum()))


col_max_nan = ""
col_nan_max_val = 0    
for column in titanicdata:
    if titanicdata[column].isnull().any():
        curr_col_sum = titanicdata[column].isnull().sum()
        if curr_col_sum >= col_nan_max_val:
            col_nan_max_val = curr_col_sum
            col_max_nan = titanicdata[column].name

print("\n\n")

print(col_max_nan, col_nan_max_val)

pclass       True
survived     True
name         True
sex          True
age          True
sibsp        True
parch        True
ticket       True
fare         True
cabin        True
embarked     True
boat         True
body         True
home.dest    True
dtype: bool



pclass has 1 null values
survived has 1 null values
name has 1 null values
sex has 1 null values
age has 264 null values
sibsp has 1 null values
parch has 1 null values
ticket has 1 null values
fare has 2 null values
cabin has 1015 null values
embarked has 3 null values
boat has 824 null values
body has 1189 null values
home.dest has 565 null values



body 1189

In [3]:
df = pd.read_csv(
    filepath_or_buffer='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',
    header=None,
    sep=',')

df.columns=['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']
df.dropna(how="all", inplace=True)

df

temp_data = df.loc[(df['sepal_len'] >= 4.5) & (df['sepal_len'] <= 10)]
temp_data["sepal_len"]

sepallenmean = temp_data["sepal_len"].mean()

float(np.round(sepallenmean, 1))

5.9

In [4]:
dfred = pd.read_csv(
    filepath_or_buffer='http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',
#     header=None,
    sep=';')

dfred

print("Red Average: ", dfred["quality"].mean())


redcorr = dfred["alcohol"].corr(dfred["quality"])

redcorrround = float(np.round(redcorr, 2))

print("Red Alchohol vs. Quality correalation: ", redcorrround)

Red Average:  5.6360225140712945
Red Alchohol vs. Quality correalation:  0.48

In [5]:
dfwhite = pd.read_csv(
    filepath_or_buffer='http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv',
#     header=None,
    sep=';')

dfwhite

print("White Average: ", dfwhite["quality"].mean())

whitecorr = dfwhite["alcohol"].corr(dfwhite["quality"])

whitecorrround = float(np.round(whitecorr, 2))

print("White Alchohol vs. Quality correalation: ", whitecorrround)

White Average:  5.87790935075541
White Alchohol vs. Quality correalation:  0.44

# Data Tidying and Cleaning Lab
## Reading, tidying and cleaning data. Preparing data for exploration, mining, analysis and learning

### Problem 1. Read the dataset (2 points)
The dataset [here](http://archive.ics.uci.edu/ml/datasets/Auto+MPG) contains information about fuel consumption in different cars.

Click the "Data Folder" link and read `auto_mpg.data` into Python. You can download it, if you wish, or you can read it directly from the link.

Give meaningful (and "Pythonic") column names, as per the `auto_mpg.names` file:
1. mpg
2. cylinders
3. displacement
4. horsepower
5. weight
6. acceleration
7. model_year
8. origin
9. car_name

In [6]:
mpg_data = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data", 
                       sep='\s+',
                      header=None)
mpg_data

        0  1      2      3       4     5   6  7                          8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              amc rebel sst
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                ford torino
..    ... ..    ...    ...     ...   ...  .. ..                        ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            ford mustang gl
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  vw pickup
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              dodge rampage
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                ford ranger
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 chevy s-10

[398 rows x 9 columns]

In [7]:
mpg_data.columns = [
"mpg",
"cylinders",
"displacement",
"horsepower",
"weight",
"acceleration",
"model_year",
"origin",
"car_name"]

mpg_data

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.00,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.00,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.00,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.00,2720.0,19.4,82,1,chevy s-10

In [8]:
nose.tools.assert_is_not_none(mpg_data)

Print the first 4 rows in the dataset to get a feel of what it looks like:

In [9]:
mpg_data.head(4)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst

### Problem 2. Inspect the dataset (1 point)
Write a function which accepts a dataset and returns the number of observations and features in it, like so: 

``` 10 observations on 15 features```

Where 10 and 15 should be replaced with the real numbers. Test your function with the `auto_mpg` dataset.

Make sure the function works with other datasets (don't worry about "1 features" or "1 observations", just leave it as it is).

In [10]:
def observations_and_features2(dataset):
    """
    Returns the number of observations and features in the provided dataset
    """
    observations = mpg_data.shape[0]
    features = mpg_data.shape[1]
    return "{} observations on {} features".format(observations, features)

In [11]:
print(observations_and_features2(mpg_data))

398 observations on 9 features

In [12]:
def observations_and_features(dataset):
    """
    Returns the number of observations and features in the provided dataset
    """
    observations = mpg_data[mpg_data.columns[0]].count()
    features = len(mpg_data.columns)
    return "{} observations on {} features".format(observations, features)

In [13]:
print(observations_and_features(mpg_data))

398 observations on 9 features

Inspect the data types for each column.

In [14]:
mpg_data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

### Problem 3. Correct errors (1 point)
The `horsepower` column looks strange. It's a string but it must be a floating-point number. Find out why this is so and convert it to floating-point number.

In [15]:
mpg_data.horsepower

0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
393    86.00
394    52.00
395    84.00
396    79.00
397    82.00
Name: horsepower, Length: 398, dtype: object

In [16]:
mpg_data.horsepower.dtype

dtype('O')

In [17]:
mpg_data["horsepower"].dtype

dtype('O')

In [18]:
np.dtype(mpg_data["horsepower"])

dtype('O')

In [19]:
mpg_data["horsepower"].isna().any()

False

In [20]:
# mpg_data["horsepower"].replace('',np.nan).astype(float)

In [21]:
# mpg_data["horsepower"].str.replace(' ', '').astype(float)

In [22]:
mpg_data.horsepower = pd.to_numeric(mpg_data["horsepower"], errors='coerce')

In [23]:
nose.tools.assert_equal(mpg_data.horsepower.dtype, "float64")

### Problem 4. Missing values: inspection (1 point)
We saw that the `horsepower` column contained null values. Display the rows which contain those values. Assign the resulting dataframe to the `unknown_hp` variable.

In [24]:
mpg_data["horsepower"].isna().any()

True

In [25]:
mpg_data["horsepower"].isna()

0      False
1      False
2      False
3      False
4      False
       ...
393    False
394    False
395    False
396    False
397    False
Name: horsepower, Length: 398, dtype: bool

In [26]:
def get_unknown_hp(dataframe):
    """
    Returns the rows in the provided dataframe where the "horsepower" column is NaN
    """
#     unknown_hp = mpg_data["horsepower"].isna()
    unknown_hp = mpg_data[mpg_data["horsepower"].isnull()]
    return unknown_hp

In [27]:
cars_with_unknown_hp = get_unknown_hp(mpg_data)
print(cars_with_unknown_hp)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
32   25.0          4          98.0         NaN  2046.0          19.0
126  21.0          6         200.0         NaN  2875.0          17.0
330  40.9          4          85.0         NaN  1835.0          17.3
336  23.6          4         140.0         NaN  2905.0          14.3
354  34.5          4         100.0         NaN  2320.0          15.8
374  23.0          4         151.0         NaN  3035.0          20.5

     model_year  origin              car_name
32           71       1            ford pinto
126          74       1         ford maverick
330          80       2  renault lecar deluxe
336          80       1    ford mustang cobra
354          81       2           renault 18i
374          82       1        amc concord dl

### Problem 5. Missing data: correction (1 point)
It seems like the `NaN` values are a small fraction of all values. We can try one of several things:
* Remove them
* Replace them (e.g. with the mean power of all cars)
* Look up the models on the internet and try our best guess on the power

The third one is probably the best but the first one will suffice since these records are too few. Remove those values. Save the dataset in the same `mpg_data` variable. Ensure there are no more `NaN`s.

In [32]:
mpg_data.dropna(subset=['horsepower'], how='all', inplace=True)

In [33]:
nose.tools.assert_equal(len(get_unknown_hp(mpg_data)), 0)

### Problem 6. Years of production (1 + 1 points)
Display all unique model years. Assign them to the variable `model_years`.

In [34]:
def get_unique_model_years(dataframe):
    """
    Returns the unique values of the "model_year" column
    of the dataframe
    """
    model_years = mpg_data["model_year"].unique()
    return model_years

In [35]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

[70 71 72 73 74 75 76 77 78 79 80 81 82]

These don't look so good. Convert them to real years, like `70 -> 1970, 71 -> 1971`. Replace the column values in the dataframe.

In [37]:
mpg_data["model_year"].unique().dtype

dtype('int64')

In [39]:
mpg_data["model_year"] = mpg_data["model_year"].add(1900)

In [40]:
model_years = get_unique_model_years(mpg_data)
print(model_years)

[1970 1971 1972 1973 1974 1975 1976 1977 1978 1979 1980 1981 1982]

### Problem 7. Exploration: low-power cars (1 point)
The data looks quite good now. Let's try some exploration.

Write a function to find the cars which have the smallest number of cylinders and print their model names. Return a list of car names.

In [58]:
mpg_data[(mpg_data["cylinders"] == mpg_data["cylinders"].min())]["car_name"]

71     mazda rx2 coupe
111          maxda rx3
243         mazda rx-4
334      mazda rx-7 gs
Name: car_name, dtype: object

In [56]:
def get_model_names_smallest_cylinders(dataframe):
    """
    Returns the names of the cars with the smallest number of cylinders
    """
    car_names = mpg_data[(mpg_data["cylinders"] == mpg_data["cylinders"].min())]["car_name"]
    return car_names

In [57]:
car_names = get_model_names_smallest_cylinders(mpg_data)
print(car_names)
nose.tools.assert_true(car_names.shape == (4,) or car_names.shape == (4, 1))

71     mazda rx2 coupe
111          maxda rx3
243         mazda rx-4
334      mazda rx-7 gs
Name: car_name, dtype: object

### Problem 8. Exploration: correlations (1 point)
Finally, let's see some connections between variables. These are also called **correlations**.

Find how to calculate correlations between different columns using `pandas`.

**Hint:** The correlation function in `pandas` returns a `DataFrame` by default. You need only one value from it.

Create a function which accepts a dataframe and two columns and prints the correlation coefficient between those two columns.

In [59]:
def calculate_correlation(dataframe, first_column, second_column):
    """
    Calculates and returns the correlation coefficient between the two columns in the dataframe.
    """
    correlation = mpg_data[first_column].corr(mpg_data[second_column])
    return correlation

In [60]:
hp_weight = calculate_correlation(mpg_data, "horsepower", "weight")
print("Horsepower:Weight correlation coefficient:", hp_weight)
nose.tools.assert_almost_equal(hp_weight, 0.864537737574, delta = 0.01)

Horsepower:Weight correlation coefficient: 0.8645377375741441